/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body{
  background: url("/b2.jpg") no-repeat center center/cover;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.navbar {
  position: fixed;
 
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.0px);
  -webkit-backdrop-filter: blur(1.0px);
  z-index: 2;
  padding: 15px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .logo {
  font-size: 30px;
  font-weight: 600;
  background: repeating-linear-gradient(
    -45deg,
    red 0%,
    yellow 7.14%,
    rgb(0, 255, 0) 14.28%,
    rgb(0, 255, 255) 21.4%,
    cyan 28.56%,
    blue 35.7%,
    magenta 42.84%,
    red 50%
  );
  background-size: 600vw 600vw;
  -webkit-text-fill-color: transparent;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-animation: slide 8s linear infinite forwards;
          animation: slide 8s linear infinite forwards;
}

@-webkit-keyframes slide {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 600vw;
  }
}

@keyframes slide {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 600vw;
  }
}

.navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-left: 25px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: crimson;
}

.navbar .menu-icon {
  display: none; 
  cursor: pointer;
  width: 30px;
  height: 30px;
  z-index: 3;
}


@media (max-width: 1330px) {

  .navbar .menu-icon {
    display: none; 
  }
}

@media (max-width: 768px) {

  .navbar{
    position: fixed;
  }
  .navbar .menu-icon {
    display: block; 
  }

  .navbar #menu-open{
    margin-left: 250px;
  }

  .navbar .logo{
    margin-left: -50px;
  }

  .navbar .menu {
    position: fixed;
    top: 76px;
    right: -100%;
    width: 100%;
    height: auto; 
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow-y: auto; 
    -webkit-transition: right 0.3s ease; 
    transition: right 0.3s ease;
    padding: 20px 0;
    z-index: 2; 
  }

  .navbar .menu.active {
    right: 0;
  }

  .navbar .menu li {
    display: block;
    margin: 15px 0;
    text-align: center;
    width: 100%;
  }

  .navbar .menu li a {
    font-size: 22px;
    margin-left: 0;
    color: #fff;
    text-decoration: none;
    width: auto;
    padding: 10px 0;
    display: block;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }

  .navbar .menu li a:hover {
    color: crimson;
  }

  #menu-close {
    position: absolute;
    top: 12px;
    right: 38px;
    width: 30px;
    height: 30px;
    display: block;
    z-index: 4;
  }
}

.home{
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80vh;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
}

.home-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; 
  -webkit-box-align: start; 
      -ms-flex-align: start; 
          align-items: flex-start; 
}

.home .max-width, .about .max-width, .skills .max-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  max-width: 1200px; 
  margin: 0 auto; 
}

.myimg {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myimg img {
  height: 370px;
  width: 370px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover; 
}

.home-content, .about-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 40px; 
}

.home-content .text1 {
  font-size: 28px;
}

.home-content .text2 {
  font-size: 48px;
  font-weight: 700;
}

.home-content .text3 {
  font-size: 18px;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 20px;
}

.home-content .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.home-content .icons img {
  height: 27px; 
  width: 27px;  
  border-radius: 50%; 
}

.home-content a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a button {
  padding: 12px 25px;
  font-size: 20px;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: darkred; 
}

@media (max-width: 820px){
.about .max-width {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; 
    text-align: center; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center; 
  }
}

@media (max-width: 768px) {

  .home-content, .about-content {
    padding-left: 0; 
    padding-right: 0; 
    text-align: center; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center;
    margin-bottom: 10px;
  }

  .text1{
    margin-top: 20px;
  }

  .home .text3{
    text-align: center;
  }

  .home .max-width {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; 
    text-align: center; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center; 
  }

  .about,.skills,.projects {
    height: 100%;
  }

  .home-content .text1 {
    font-size: 24px;
  }

  .home-content .text2 {
    font-size: 36px;
  }

  .home-content .text3 {
    font-size: 18px;
  }

  .myimg img {
    height: 300px; 
    width: 300px;
  }

  .home-content .icons img {
    height: 30px; 
    width: 30px;
  }

  a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;     
  }
  
  button {
    font-size: 18px;
    padding: 10px 20px;
  }  
}

@media (max-width: 480px) {
  .home .home-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; 
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
 
  .home .max-width{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; 
    text-align: center;
   
  }

  .myimg, .home-content {
    padding-left: 0;
    padding-right: 0;
  }

  .myimg img {
    height: 250px;
    width: 250px;
    margin-bottom: 30px;
  }

  .home-content .text1 {
    font-size: 20px;
  }

  .home-content .text2 {
    font-size: 28px;
  }

  .home-content .text3 {
    font-size: 16px;
  }

  .home-content .icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; 
  }

  .home-content .icons img {
    height: 25px;
    width: 25px;
  }

  button {
    font-size: 16px;
    padding: 8px 16px;
  }
}

.about-content{
  color: white;
}

.about .myimg1 img{
  height: 390px;
  width: 350px;
  border-radius: 10px;
}

.about-content {
  font-size: 18px; 
  line-height: 1.6; 
  margin-left: 20px;
  margin-right: 20px;
}

.about-content p {
  margin-bottom: 20px; 
}

.about-content p:first-of-type {
  font-weight: 500; 
}

.about-content p:last-of-type {
  font-style: italic; 
}

.skills {
  height: 70vh;
  padding: 40px 20px;
  color: #f1f1f1;
}

.skills .max-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
  max-width: 1300px;
  margin: auto;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; 
}

.skills .side1, .skills .side2 {
  border-radius: 8px;
  background: #333; 
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; 
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 250px;
}

.skills h2 {
  font-size: 26px; 
  font-weight: 700; 
  color: #f1f1f1;
  margin-bottom: 15px;
  text-transform: uppercase; 
  text-align: center; 
  position: relative;
}

.skills ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px; 
}

.skills ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(33.333% - 40px);
          flex: 1 1 calc(33.333% - 40px); 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills ul li img {
  width: 100px; 
  height: 100px;
  border-radius: 8px; 
  margin-bottom: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px; 
}

.skills .technology,.skills .tool {
  margin-bottom: 20px; 
}

.skills .language ul li{
  margin-top: 17px; 
}

@media (max-width: 800px) {
  .skills .side1,.skills .side2 {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
    min-width: auto;
    margin-bottom: 20px;
  }

  .skills{
    height: 100%;
  }

  .skills .max-width {
    padding: 0 10px; 
  }

  .skills ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(50% - 40px);
            flex: 1 1 calc(50% - 40px); 
  }
}

@media (max-width: 480px) {
  .skills ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% - 40px);
            flex: 1 1 calc(100% - 40px);
  }
}
.projects {
  padding: 40px 20px;
  color: #f1f1f1; 
}

.projects .max-width {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px; 
  max-width: 1300px;
  margin: auto;
}

.pro {
  border-radius: 8px;
  background: #333;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 15px; 
  -webkit-box-sizing: border-box; 
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; 
  -webkit-box-pack: center; 
      -ms-flex-pack: center; 
          justify-content: center;
  min-width: 180px;
}

.pro img {
  width: 60%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover; 
  border-radius: 8px;
  margin: 0 auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px; 
  display: block;
}

.projects h2{
  font-size: 26px; 
  font-weight: 700; 
  color: #f1f1f1;
  margin-bottom: 15px;
  text-transform: uppercase; 
  text-align: center; 
  position: relative;
}


.pro h2 {
  font-size: 20px;
  font-weight: 700;
  color: #f1f1f1;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}

.des {
  margin-bottom: 10px;
}

.des h4 {
  font-size: 16px; 
  font-weight: 600;
  color: #f1f1f1;
  margin-bottom: 5px;
}

.des p {
  text-align: justify;
  font-size: 16px; 
  color: #ccc; 
  line-height: 1.6; 
}

a {
  display: block;
  text-align: center; 
  margin-top: 10px; 
}

.projects button {
  margin-left: 0;
  background: #ff6f61; 
  border: none;
  color: #fff;
  padding: 8px 16px; 
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  display: inline-block; 
}

.projects button:hover {
  background-color: white;
  color: #e55b50;
}

.skills, .projects {
  margin-bottom: 50px; 
}

.projects img:hover{
   
}

@media (max-width: 768px) {
  .skills, .projects {
    margin-bottom: 40px;
  }
}

@media (max-width: 480px) {
  .skills, .projects {
    margin-bottom: 30px; 
  }

  .projects .max-width {
    padding: 0 15px; 
  }

  .skills .max-width {
    padding: 0 15px; 
  }
}

@media (max-width: 800px) {
  .projects .max-width {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 0 10px; 
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .projects .max-width {
    padding: 0 10px; 
    margin-bottom: 20px;
  }
}
.contact {
  padding: 50px 20px; 
}

.contact-content {
  background: #333; 
  color: #fff; 
  padding: 30px; 
  border-radius: 10px; 
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 16px; 
          box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 16px; 
  max-width: 650px;
  margin: 0 auto; 
}

.contact h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
  color: #fdfdfd;
  font-weight: bold;
}

.contact .max-width {
  max-width: 600px;
  margin: 0 auto;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact form label {
  margin-bottom: 10px; 
  font-size: 16px;
  color: #fdfdfd;
}

.contact form input[type="email"], .contact form input[type="text"],
.contact form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  background: #444;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact form input[type="email"]:focus,
.contact form textarea:focus {
  border-color: #0056b3; 
  outline: none;
  background: #333; 
}

.contact form textarea {
  min-height: 150px;
  resize: vertical;
}

.contact form button {
  padding: 15px;
  border: none;
  background: #ff6f61;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.contact form button:hover {
  background: #e55b50; 
}

@media (max-width: 768px) {
  .contact-content {
    padding: 20px; 
    border-radius: 8px;
  }

  .contact h2 {
    font-size: 28px; 
  }

  .contact form input[type="email"],
  .contact form textarea {
    padding: 12px;
    font-size: 14px; 
  }

  .contact form button {
    padding: 12px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .contact-content {
    padding: 15px;
  }

  .contact h2 {
    font-size: 24px; 
  }

  .contact form input[type="email"],
  .contact form textarea {
    padding: 10px;
    font-size: 13px; 
  }

  .contact form button {
    padding: 10px;
    font-size: 15px;
  }
}